Text {
    -fx-font-size: 60;
    -fx-font-family: 'Frijole';
    -fx-text-alignment: center;
    -fx-fill: white;
}

BorderPane {
    -fx-background-color: linear-gradient(darkred,red);
}

StackPane Text {
    -fx-font-size: 120;
    -fx-fill: black;
}

ProgressIndicator {
    -fx-progress-color: red;
    -fx-max-height: 80;
}

HBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

VBox {
    -fx-alignment: center;
    -fx-spacing: 3;
}

GridPane {
    -fx-hgap: 10;
    -fx-vgap: 5;
}

Label {
    -fx-font-size: 16;
    -fx-text-fill: whitesmoke;
}

ChoiceBox {
    -fx-cursor: hand;
}

ChoiceBox Label {
    -fx-text-fill: black;
}